.nav-pills-primary {
  direction: rtl !important;
  margin: 1rem 0;
}
.nav-item {
  cursor: pointer;
}
.card {
  direction: rtl;
}
.Toastify__toast-body {
  text-align: center !important;
  font-family: 'shabnam'
}