.UploadWrapper {

  .upload-zone {
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background: #f5f5f5;
    cursor: pointer;

    &.active {
      background: #d9f2fb;
      border:2px solid #93c1fc;
    }
  }

  .styled-drop-area {
    height: 100px;
    border: 1px solid $ultra-light-grey;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .thumb-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16px;
  }

  .thumb {
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid #eaeaea;
    margin-bottom: 8;
    margin-right: 8;
    width: 100px;
    height: 100px;
    padding: 4px;
    box-sizing: border-box;
    margin-left: 2px;
    cursor: pointer;
    position: relative;

    &:after {
      content: '×';
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      color: #fff;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
      font-size: 2rem;
    }

    &:hover:after {
      visibility: visible;
      opacity: 1;
    }

    &.uploaded:after {
      content: "\ea21";
      font-family: 'nucleo-icons';
      color: #21BA45;
      visibility: visible;
      opacity: 1;
      background: rgba(255, 255, 255, 0.6);
    }
    &.failed:after {
      content: "\ea4f";
      font-family: 'nucleo-icons';
      color: $error-color;
      visibility: visible;
      opacity: 1;
      background: rgba(255, 255, 255, 0.6);
    }

    .uploading-icon {
      position: absolute;
      right: 0;
      top: 0;
      background: rgba(255, 255, 255, 0.6);
      color: #21BA45;
      width: 100%;
      height: 100%;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

  .thumb-inner {
    display: flex;
    min-width: 0;
    overflow: hidden;
    width: 100%;
  }

  .thumb-img {
    display: block;
    width: auto;
    height: 100%;
  }

  .type-text {
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    font-size: calc(1vh + 1vw + 1vmin);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: Arial, serif !important;
    color: #ccc;
    cursor: pointer;
    background: #f7f7f7;
  }

}